@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
/* &family=Raleway:wght@100;200;300;400;500;600;700 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #28273b;
}

.main-container {
  @apply lg:w-1/2 md:w-3/4 mx-auto p-4;
}

.button {
  @apply border-2 rounded-lg p-3 px-4 my-4 mx-2 shadow-xl;
}

.button-primary {
  @apply border-blue-002 bg-blue-002 text-white font-bold hover:bg-medium-01 hover:border-medium-01 hover:shadow-lg;
}

.button-secondary {
  @apply border-medium-01 bg-white-01 text-medium-02 font-bold hover:bg-medium-01 hover:text-white-01 hover:border-medium-01 hover:shadow-lg;
}

.input-label {
  @apply text-medium-02 m-4;
}

.input-field {
  @apply rounded-lg h-10 w-full text-medium-02 border-2 border-medium-01 p-2 my-2;
}

.modal-backdrop {
  @apply fixed bg-gray-900 bg-opacity-70  top-0 left-0 w-full h-full z-10;
}

.modal-container {
  @apply w-3/4 md:w-3/5 lg:w-1/4 mx-auto m-3 bg-white-01 font-sans rounded-lg shadow-lg fixed z-20 inset-x-10 md:inset-x-20 lg:inset-x-40 top-40 text-center;
}

.modal-header {
  @apply text-3xl font-bold p-6 bg-blue-002 rounded-t-lg text-white-003;
}

.modal-message {
  @apply p-4 mx-6 my-3 text-lg text-medium-02;
}

.modal-footer {
  @apply px-6 py-3 text-right;
}

.modal-hr {
  @apply border border-medium-01;
}
